<body>
    <div class="container">
        <!-- Left Sidebar -->
        <div class="left-sidebar">
            <div class="sidebar-section">
             <h3 class="heading"><i class="fa-solid fa-headphones-simple"></i> mFormusic</h3>
                <h4 class="section-heading"><i class="fa-solid fa-house">&nbsp;</i> Home </h4>
                <h4 class="section-heading"><i class="fa-solid fa-magnifying-glass">&nbsp;</i> Search</h4>
            </div>
            <br><br><br>
            <div class="sidebar-section">
                <h2 class="section-heading">Your Library</h2>
                <ul>
                    <button class="btn btn-secondary">Create your first library</button>
                </ul>
            </div>
        </div>
        
        <!-- Right Content -->
        <div class="right-content">
            <div class="navbar">
                <h2><    ></h2>
            </div>
            <div class="sidebar-section featured-content">
                <h2 class="section-heading">Popular Artists</h2>
                <ul>
                    <li>Artist 1</li>
                    <li>Artist 2</li>
                    <li>Artist 3</li>
                    <!-- Add more artists as needed -->
                </ul>
            </div>
            <div class="sidebar-section featured-content">
                <h2 class="section-heading">Featured Songs</h2>
                <ul>
                    <li>Song 1</li>
                    <li>Song 2</li>
                    <li>Song 3</li>
                    <!-- Add more songs as needed -->
                </ul>
            </div>
        </div>
    </div>
</body>
